body{
    background-color:black;
}

div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

div a{
    padding: 25px;
    border: 2px solid orangered;
    border-radius: 3px;
    margin: 5px;
    color: orangered;
    text-decoration: none;
    box-shadow: orangered 1px 1px 3px;
}

button{
 color: orangered;
 background-color: black;
 border-radius: 5px;  
 border-color: orangered;
 margin: 5px;
 box-shadow: orangered 1px 1px 3px;
}

