body {
    background-color:black;
}

div { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

div button {
 color: orangered;
 background-color: black;
 border-radius: 5px;  
 border-color: orangered;
 margin: 5px;
 box-shadow: orangered 1px 1px 3px;
}

#video, #stream, #picture {
    padding: 25px;
}

#video {
    padding-left: 50px;
    padding-right: 50px;
}

input {
    background-color: black;
    color: orangered;
    border-color: orangered;
}
