<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="text/html" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/default.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/entry.js') }}"></script>
</head>
<body>
    <div id="action">
       <a href="/picture">Take a picture</a>
       <a href="/stream">Start live stream</a>
       <a id="video" href = "/video">Video</a>
        <input type="date" id = "date">
        <button id = "send">Send</button>
    </div>
</body>
</html>